.element{
  background-color: green;
}
.inactive-element-1{
  background-color: purple;
}
.inactive-element-2{
  background-color: blue;
}
.inactive-element-hidden{
  visibility: hidden;
  background-color: red;
}
.debug{
  border:1px solid;
}