.btn-style,.list-style{
  border: none !important;
  outline:none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.active>.list-style,.active>.btn-style {
    z-index: 2;
    background-color: red !important;
    color: white;
  }
.focus>.list-style,.focus>.btn-style {
    z-index: 2;
    color: #fff;
    background-color: red !important;
    color: white;
  }
