:root {
  --primary_shade: rgba(255, 22, 22, 0.711);
  --primary2: #ca0a0a;
  --primary: rgb(255,0,0);
  --secondary: rgb(255,255,255);
}
.dropdown-toggle::after {
  display: none !important; 
}

.dropdown-item:hover{
  color: var(--secondary) !important;
  background-color: var(--primary)
}

.dropdown-item:active{
  color: var(--secondary) !important;
  background-color: var(--primary)
}

.btn-danger {
  color: var(--secondary);
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-danger:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border-color: var(--primary);
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: var(--primary2);
  border-color: var(--primary2);
  box-shadow: 0 0 0 0.25rem var(--primary_shade);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: var(--primary2);
  border-color: var(--primary2);
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--primary_shade);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: var(--primary2);
  border-color: var(--primary2);
}