.hover-style{
    background: white;
    color: black;
    background-size: 202%;
    transition: .10s ease-out;
    overflow:hidden;
}
.hover-style:hover{
    background: red !important;
    color: white !important;
}