.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: red !important;
    border-color: red !important;
    color: white;
  }
.list-group-item.focus {
    z-index: 2;
    color: #fff;
    background-color: red !important;
    border-color: red !important;
    color: white;
  }
